<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="/static/scripts/js.js"></script>
</head>
<body>
    <div id="login" >
        <form class='hidden' id="loginForm">
            <input type="text" name="username" id="username"></input>
            <input type="submit" value="login" ></input>
        </form>
        
    </div>
    <div id="msgDisplay"></div>
    <div id="nickDisplay"></div>
    <div id="chatBar">
        <form class="hidden" id="chatBarForm">
            <input type="text" name="chatBox" id="chatBox"></input>
            <input type="submit" value="send"></input>
        </form>
    </div>
</body>
</html>

